if(plans && plans!='')
    if(plans.length>0) 
            div.borderTop
    if(plans && plans!='')
        if(plans.length>0) 
            div.grid37
                div.nag
                    h3(style="color:#444"  id="plany") PLANY
                div         
            each inv in plans
                if inv.plans != ""
                    div.grid342
                        div
                            div
                                -var wl = inv.details
                                each wl2 in wl
                                    -var ty = wl2.title
                                    h3(style="color:#444") #{ty}
                                    -var drugi = wl2.data
                                    div.box
                                        ul
                                            each zz in drugi
                                                li
                                                    -var la = zz.label
                                                        strong #{la}
                                                    -var va = zz.value
                                                        span #{va}     
                            if(inv.showFile)                                                   
                                -var planLink = inv.file
                                div.alignRight
                                    a(href=""+planLink target="_blank")
                                        img.redPobierz(src="images/buttonPobierzPlan.jpg")
                        div                            
                        div.aR.swp-gallery
                            -var ob = inv.image
                            figure.swp-gal-col(itemprop='associatedMedia' itemscope='' itemtype='http://schema.org/ImageObject')
                                a.thumbnail(href=inv.image itemprop='contentUrl' data-size=inv.sizeString)
                                    img.img-fluid.image-thumb(src=inv.image)